<div class="header">
  <div class="font-boxes">
    @if (selectedFonts$ | async; as selectedFonts) { @for (font of
    selectedFonts; track trackByFontId($index, font)) {
    <div
      class="font-box"
      [class.selected]="font.id !== -1"
      [class.empty]="font.id === -1"
      (click)="selectSlot($index)"
      [class.active]="(selectedSlotIndex$ | async) === $index"
    >
      @if (font.id !== -1) {
      <span class="font-name">{{ font.value }}</span>
      <div class="selection-indicator"></div>
      } @else {
      <span class="slot-number">{{ $index + 1 }}</span>
      }
    </div>
    } }
  </div>

  <div
    class="d-flex justify-content-end align-items-center flex-wrap flex-column"
  >
    <button class="clear-button" (click)="clearAllSelections()">
      Clear All
    </button>
    <div class="d-flex">
      Total values : <br />
      {{ selectedCount$ | async }}
    </div>
  </div>
</div>
