.header {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-md);
    background-color: var(--neutral-100);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    margin-bottom: var(--spacing-lg);
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: var(--spacing-md);
    color: var(--neutral-900);
    width: 100%;
  }
  
  .font-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    /* margin-right: 100px; */
  }
  
  .font-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius-md);
    transition: all var(--transition-normal);
    overflow: hidden;
    cursor: pointer;
  }
  
  .font-box.empty {
    background-color: var(--neutral-200);
    border: 2px dashed var(--neutral-400);
  }
  
  .font-box.empty:hover {
    background-color: var(--neutral-300);
    border-color: var(--primary-color);
  }
  
  .font-box.selected {
    background-color: var(--primary-color);
    color: white;
  }
  
  .font-box.active {
    transform: scale(1.05);
    box-shadow: 0 0 0 3px var(--primary-light);
    border-color: var(--primary-color);
  }
  
  .font-box.empty.active {
    background-color: var(--primary-light);
    border-color: var(--primary-color);
    color: white;
  }
  
  .font-name {
    font-size: 0.75rem;
    text-align: center;
    padding: 0 var(--spacing-xs);
  }
  
  .slot-number {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--neutral-600);
  }
  
  .font-box.empty.active .slot-number {
    color: white;
  }
  
  .selection-indicator {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
  }
  
  .clear-button {
    /* position: absolute; */
    top: var(--spacing-md);
    right: var(--spacing-md);
    padding: var(--spacing-xs) var(--spacing-md);
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-weight: 500;
    transition: all var(--transition-normal);
  }
  
  .clear-button:hover {
    background-color: var(--accent-dark);
  }
  
  @media (max-width: 768px) {
    .font-boxes {
      margin-right: 0;
      margin-bottom: var(--spacing-lg);
    }
  
    .clear-button {
      position: relative;
      top: 0;
      right: 0;
      align-self: flex-end;
    }
  }