.content-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: var(--spacing-sm);
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
}

@media (max-width: 768px) {
  .content-container {
    grid-template-columns: 1fr;
  }
}
